/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

.stopwatch {
  margin: 50px auto;
  width: 300px;
  position: relative;
}

.bg-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-on-image {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
}

/* Button styles */
.controls {
  text-align: center;
  margin-top: 20px;
}

.controls button {
  font-family: serif;
  padding: 15px 25px;
  font-size: 20px;
  margin: 5px;
  background-color: #d1c2c2;
  color: rgb(118, 97, 97);
  border: rgb(255, 255, 255) 20px;
  cursor: pointer;
  border-radius: 50px;
}

.display{
  color: #ffffff;
  font-family: serif;
  font-size: 20px;
}

.controls button:hover {
  background-color: #ffffff;
}
